/* @font-face {
  font-family: 'Helvetica';
  src: url("./assets/fonts/Helvetica-Bold-Font.ttf");
} */

* {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
ul {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
  border-width: 0;
  vertical-align: middle;
  cursor: pointer;
}

body {
  width: 100%;

  --accent-color: #0198bd;
  --header-bg-color: #eb1701;
  --start-btn-color: #f18b06;
  --standard-black: #000;
  --footer-nav-color: #222526;
  --second-nav-active-color: #b65680;
  --standard-white: #fff;
  --step-background-color: #f5f9fa;
  --step-border-color: #cccccc;
  --results-h3-color: #666666;
  --comments-color: #3b5998;
  --comments-border-color: #e2e2e2;
  --comments-content-color: #1a1a1a;
  --comments-time-color: #808080;
  --footer-title-color: #80808c;
  --facebook-color: #0080ff;
  --whatsup-color: #25d366;
  --overlay-bg-color: #eb6769;
}

button {
  outline: none;
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

@media (max-width: 1024px) {
  img:not(.icon) {
    width: 100%;
    height: auto;
  }
}

.header {
  position: sticky;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: 199;
}

.main {
  position: sticky;
  top: 0;
  background-color: var(--header-bg-color);
  border: 0;
  width: 100%;
  z-index: 199;
}

.main .top {
  padding: 13px 30px 7px;
  width: 100%;
  justify-content: space-between;
}

.main .top .logo-container {
  display: flex;
}

nav {
  display: flex;
  max-width: 980px;
  margin: 0 auto;
}

nav .btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .menu_btns {
  display: flex;
  gap: 60px;
}

nav .edition,
nav .btns span {
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 700;
  line-height: 20px;
  color: var(--standard-white);
  text-wrap: nowrap;
}

nav .edition,
nav .search,
nav .sign-in {
  display: flex;
  gap: 8px;
  align-items: center;
}

.main .divider {
  height: 1px;
  background-color: var(--standard-white);
  opacity: 0.5;
}

.second {
  background-color: var(--standard-white);
}

.main .bottom ul,
.second nav ul {
  display: flex;
  gap: 40px;
  padding: 8px 20px;
}

.main .bottom ul li a,
.second nav ul li a {
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 700;
  line-height: 24px;
  color: var(--standard-white);
  padding-bottom: 7px;
}

.main .bottom ul li a.active {
  border-bottom: 4px solid var(--standard-white);
}

.second nav ul li a {
  color: var(--footer-nav-color);
}

.second nav ul li a.active {
  border-bottom: 4px solid var(--second-nav-active-color);
}

@media (max-width: 1023px) {
  .main .bottom ul,
  .second nav ul {
    padding: 8px 40px;
  }

  .main .bottom ul li:nth-child(n + 9) {
    display: none;
  }
}

@media (max-width: 767px) {
  .main .top {
    flex-wrap: wrap;
    row-gap: 17px;
  }

  .main .bottom ul li:nth-child(n + 5) {
    display: none;
  }

  .second .nav ul {
    flex-wrap: wrap;
    row-gap: 16px;
  }

  nav .menu_btns {
    margin-left: 20px;
  }
}

main {
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  gap: 0;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 20px 0;
  margin: 0 auto;
}

.section {
  width: 100%;
  max-width: 1220px;
  padding: 0 16px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  gap: 20px;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  margin: 20px auto 0;
}

.section .article {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  align-items: flex-start;
  width: 60%;
  max-width: 720px;
  padding: 0 10px;
  flex-direction: column;
}

@media (max-width: 900px) {
  .section .article {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .section {
    padding: 0 10px;
  }

  .section .article {
    padding: 0;
  }
}

.section .results {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  align-items: center;
  width: 40%;
  max-width: 324px;
  padding: 0;
  flex-direction: column;
}

@media (max-width: 1023px) {
  .section .results {
    display: none;
  }
}

.content {
  padding: 30px 40px;
}

@media (max-width: 1023px) {
  .content {
    padding: 0;
    margin-top: 0;
  }
}

@media (min-width: 1024px) {
  .content {
    padding-top: 0;
  }
}

h1 {
  font-family: "Inter", sans-serif;
  font-size: 47px;
  font-weight: 400;
  line-height: 48px;
  text-align: left;
  margin-top: 60px;
}

@media (max-width: 1023px) {
  h1 {
    font-size: 35.5px;
  }
}

@media (max-width: 767px) {
  h1 {
    font-size: 30.55px;
  }
}

h1 span {
  text-decoration: underline;
}

.article .subtitle {
  font-family: "Myriad Pro", sans-serif;
  font-size: 18.26px;
  font-weight: 600;
  line-height: 26.6px;
  text-align: left;
  margin: 0;
}

.article article,
.article .block {
  width: 100%;
}

.article .img_block.double img:first-child {
  height: 100%;
  width: 59%;
}

.article .img_block img:last-child {
  height: 100%;
  width: 41%;
}

@media (max-width: 635px) {
  .article .block,
  .article .img_block img:first-child,
  .article .block,
  .article .img_block img:last-child {
    width: 100%;
  }
}

.article .img_block img.smaller {
  margin: 0 auto;
}

@media (max-width: 767px) {
  .article .img_block img.smaller {
    width: 100%;
  }
}

.article .img_block:not(:first-child) {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
  gap: 10px;
  align-items: center;
}

.article .img_block,
.article .block {
  margin-bottom: 20px;
}

.article .img_block .title span {
  color: var(--accent-color);
  cursor: pointer;
}

.article .img1 {
  margin-top: 9px;
}

.img1 .title {
  display: block;
  font-family: "Times New Roman", sans-serif;
  font-size: 13px;
  font-style: italic;
  font-weight: 400;
  line-height: 22.4px;
  letter-spacing: -0.1px;
  text-align: left;
  margin: 10px 0;
}

.img1 .description {
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-family: "Times New Roman", sans-serif;
  font-size: 10px;
  font-weight: 400;
  line-height: 14px;
  text-align: left;
}

.img1 .description span {
  font-weight: 700;
}

.article .btn_start {
  width: 519px;
  height: 82px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  border-radius: 10px;
  background-color: var(--start-btn-color);
  font-family: "Myriad Pro", sans-serif;
  font-size: 28.71px;
  font-weight: 600;
  line-height: 34.45px;
  text-align: center;
  color: var(--standard-white);
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
}

@media (max-width: 767px) {
  .article .btn_start {
    width: 351.5px;
    height: 53px;
    font-size: 18px;
    line-height: 21.55px;
  }
}

.article .direct-speech {
  margin-left: 20px;
}

@media (max-width: 767px) {
  .article .direct-speech {
    margin: 0;
  }
}

.img2 .img_block {
  display: flex;
  margin-bottom: 25px;
}

@media (max-width: 767px) {
  .img2 .img_block {
    flex-direction: column;
    gap: 5px;
  }
}

.block .article_subtitle {
  font-family: "Helvetica", sans-serif;
  font-size: 28px;
  font-weight: 700;
  line-height: 39.2px;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.block .article_subtitle span {
  color: var(--accent-color);
  cursor: pointer;
}

.article .block p,
.img2 .description {
  font-family: "Myriad Pro", sans-serif;
  font-size: 18.26px;
  font-weight: 600;
  line-height: 26.6px;
  text-align: left;
}

.article .block p {
  margin-bottom: 20px;
}

.article .steps {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.article .comments {
  display: flex;
  flex-direction: column;
}

.article .comments .nav {
  display: flex;
  justify-content: space-between;
}

.article .comments .nav,
.article .comments .nav a {
  font-family: "Tahoma", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  color: var(--comments-color);
  padding: 0;
  margin-bottom: 20px;
  margin-right: 20px;
}

.article .comments .block {
  display: flex;
  align-items: center;
  gap: 15px;
  height: 76px;
  border-bottom: 1px solid var(--comments-border-color);
  cursor: pointer;
  margin: 0;
}

@media (max-width: 767px) {
  .article .comments .block {
    height: 121px;
  }
}

.article .comments .block img {
  width: 50px;
  height: 50px;
}

.article .comments .block .info .title {
  display: flex;
  flex-direction: column;
  font-family: "Myriad Pro", sans-serif;
  font-size: 13px;
  font-weight: 600;
  line-height: 14px;
  text-align: left;
  color: var(--comments-color);
}

.article .comments .block .info .content,
.article .comments .block .info .additional {
  display: flex;
  flex-direction: column;
  font-family: "Myriad Pro", sans-serif;
  font-size: 11.44px;
  font-weight: 600;
  line-height: 16px;
  text-align: left;
  color: var(--comments-content-color);
  margin: 5px 0;
}

.article .comments .block .info .additional {
  display: flex;
  flex-direction: row;
  color: var(--comments-color);
  gap: 40px;
  margin: 5px 0;
}

.article .comments .block .info .additional span {
  color: var(--comments-color);
}

.article .comments .block .info .additional span:last-child {
  color: var(--comments-time-color);
  border-bottom: 1px dotted var(--comments-time-color);
}

.article .comments .block .info p {
  margin: 0;
  padding: 0;
}

.block p span,
.results p span {
  color: var(--accent-color);
  cursor: pointer;
}

.results .block,
.results .block p img {
  width: 100%;
}

.results h3 {
  width: 100%;
  border-bottom: 2px solid var(--accent-color);
  color: var(--results-h3-color);
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  margin-bottom: 10px;
}

.results .block:last-child h3 {
  font-family: "Times New Roman", sans-serif;
  margin-bottom: 0;
  width: 384px;
}

.results p {
  font-family: "Myriad Pro", sans-serif;
  font-size: 17.3px;
  font-weight: 600;
  line-height: 29px;
  letter-spacing: -0.1px;
  text-align: left;
}

.results .block:last-child {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.results .block .step {
  width: 384px;
  border: 1px solid var(--step-border-color);
  background-color: var(--step-background-color);
  padding: 11px;
  cursor: pointer;
}

.block .step .title {
  display: flex;
  align-items: baseline;
  font-family: "Times New Roman", sans-serif;
  font-size: 21px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  margin-bottom: 20px;
}

.block .step .subtitle {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: -0.1px;
  text-align: left;
  color: var(--accent-color);
  cursor: pointer;
}

.results .block .step img {
  width: 100%;
}

.results .block .step .title img {
  width: 20px;
}

.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: max-content;
  padding: 10px;
  background: rgba(0, 0, 0, 0.7);
  position: sticky;
  z-index: 9999;
  bottom: 0;
  left: 0;
}

.overlay button {
  display: flex;
  align-items: center;
  padding: 8px 16px;
  font-family: "Myriad Pro", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 36px;
  text-align: center;
  color: var(--standard-white);
  background: var(--overlay-bg-color);
  border-radius: 4px;
  text-decoration: none;
}

@media (max-width: 767px) {
  .overlay button {
    font-size: 11px;
    line-height: 20px;
  }
}

footer {
  background-color: var(--footer-nav-color);
}

footer .container {
  display: flex;
  margin: 0 auto;
  width: 980px;
  padding: 18px 0 55px;
}

footer .container .flex {
  display: flex;
}

footer h3 {
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  text-transform: uppercase;
  color: var(--footer-title-color);
  padding-bottom: 14px;
  width: 100%;
  border-bottom: 1px solid var(--footer-title-color);
  margin-bottom: 15px;
}

footer .socials {
  width: 40%;
  padding: 20px;
}

footer .socials .block {
  display: flex;
  gap: 20px;
}

footer .socials .block div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  border-radius: 4px;
}

footer .socials .block .facebook {
  background-color: var(--facebook-color);
}

footer .socials .block .x {
  background-color: var(--standard-black);
}

footer .socials .block .whatsup {
  background-color: var(--whatsup-color);
}

footer .info {
  width: 60%;
  padding: 20px;
}

footer .info .flex {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

footer .info nav ul {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

footer .info nav ul li a {
  font-family: "Inter", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  color: var(--standard-white);
  padding-right: 11px;
  border-right: 1px solid var(--footer-title-color);
}

footer .info .additional,
footer .additional.mob {
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  color: var(--standard-white);
}

footer .additional.mob {
  display: none;
}

footer .info .additional a,
footer .additional.mob a {
  text-decoration: underline;
}

@media (max-width: 1023px) {
  footer .container {
    width: 660px;
    flex-direction: column;
  }

  footer .socials,
  footer .info {
    width: 50%;
  }

  footer .socials {
    order: 1;
  }

  footer .info .additional {
    display: none;
  }

  footer .additional.mob {
    display: block;
    padding: 0 20px;
  }
}

@media (max-width: 767px) {
  footer .container {
    width: 100%;
    padding: 20px;
  }

  footer .container .flex {
    flex-direction: column;
  }

  footer .socials {
    width: 100%;
    order: 0;
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--footer-title-color);
    padding: 0 0 14px;
  }

  footer h3 {
    font-family: "Inter", sans-serif;
    font-size: 19px;
    font-weight: 700;
    line-height: 22px;
    text-align: left;
    color: var(--standard-white);
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  footer .info {
    width: 100%;
  }

  footer .info nav ul {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
  }

  footer .info nav ul li a {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    border-right: none;
    padding: 0;
  }

  footer .info h3 {
    display: none;
  }

  footer .additional.mob {
    font-size: 11px;
    line-height: 18px;
  }
}
